<div class="charge_images">
    <img src="https://cdn.shopify.com/s/files/1/1794/8027/products/W2-TRIPLE-POWER-0333_1024x.jpg?v=1550158583" alt="Photo of wireless charger" id="photo1">
    <div class="ig">
    <img src="https://cdn.shopify.com/s/files/1/1794/8027/products/W2-TRIPLE-POWER-05_7becc41a-c5ff-4a91-a720-b98b0c3aca40_1024x.jpg?v=1549027891" alt="Photo of wireless charger" id = "photo2">
    <img src="https://cdn.shopify.com/s/files/1/1794/8027/products/triple-01_medium.jpg?v=1550158621" alt="Photo of wireless charger" id = "photo3">
    <img src="https://cdn.shopify.com/s/files/1/1794/8027/products/W2-TRIPLE-POWER-06_88df64fd-d192-4915-98da-74917722af6f_1024x.jpg?v=1549027891" alt="Photo of wireless charger" id = "photo4">
    <img src="https://cdn.shopify.com/s/files/1/1794/8027/products/W2-TRIPLE-POWER-07_077649cd-5c76-461b-ab12-65175425dd36_1024x.jpg?v=1549027891" alt="Photo of wireless charger" id = "photo5">
  </div>
  </div>
  <div class = "charge_info">
    <h3>The XVIDA Basics Triple Power Wireless Charger is a 3-in-1 wireless charging pad with built-in magnets for Apple Watch, iPhone Xs/Xs Max/Xr, iPhone X/8/8 Plus & Qi-enabled phones. 
      Stylishly crafted of anodized aluminum, this versatile charger provides seamless power to your Apple Watch, and your iPhone (up to 7.5W). It also features an additional charging spot for 
      a Samsung (up to 10W) and other Qi-enabled devices (5W). When used in conjunction with XVIDA Magnetic Phone Case or Magnetic Card, this charger will automatically lock your phone into 
      the optimal spot for 100% reliable & fast wireless charging. Built with temperature control and surge protection technology. Works with Apple Watch Series 2 & 3, and Series 4.
    </h3>
    <p>Price: 8590 тг</p>
    <ul>
      <li>Includes XVIDA magnetic card for Qi enabled devices (not compatible with Samsung Note 9). for optimal performance, place Magnetic card on the back of your Qi-enabled smartphone or use a slim, minimal case (Max thickness 2mm).</li>
      <li>Holds your phone securely with XVIDA magnetic card (included) or with XVIDA power 2 magnetic cases (available for purchase separately) for fast and secure in-car charging (up to 10W).</li>
      <li>Magnetic locking: built-in magnets lock your Qi-enabled phone in an optimal position for charging and ensure 100% reliable wireless charging. No risk of accidentally misaligning your phone so it doesn't charge!</li>
      <li>Advanced cooling system: built-in cooling fan prevents overheating, keeps your phone cool Which allows you to charge your devices safely & more efficiently. Features over-voltage, over-current and short-circuit protection.</li>
      <li>What you get: wireless car mount/charger, equipped with anti-slip grips and cooling fan, 3ft Micro USB cable, Dual port QC 3.0 USB car charger, 3 x cable management clips & helpful customer service. Important: NOT compatible with 3rd party metal plates or magnetic cases.x</li>
    </ul>
    <button>+Add to Card</button>
  </div>
  